.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body > h1 {
  text-align: center;
}

.edit-profile {
  margin-top: 5rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-fields > input {
  width: 40%;
  padding: 0.5rem;
  margin: 0.8rem;
  border: 1px solid #2a72de;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.input-fields > input::placeholder {
  color: gray;
}

.input-fields > textarea {
  width: 90%;
  padding: 0.5rem;
  margin: 0.8rem;
  border: 1px solid #2a72de;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  resize: vertical;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > img {
  margin-right: 0.5rem;
  cursor: pointer;
}
