.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmBtn {
  padding: 1rem;
  background-color: #2a72de;
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: #105ed2;
}

.body {
  width: 96%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  width: 85%;
  margin: auto 5rem auto 10rem;
}

.schedule_container {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 7px 20px;
  color: #2a72de;
  margin: 3% auto;
}

.schedule_container > h1 {
  font-size: 45px;
  font-weight: 500;
  margin: 0 auto;
}

.schedule_container > p,
.info {
  color: rgba(42, 114, 222, 0.75);
  font-size: 25px;
  font-weight: 500;
}

.hr {
  border: 1px solid rgba(32, 32, 32, 0.25);
}

.text {
  font-size: 27px;
  text-align: left;
  margin-left: 5%;
}

.hours {
  display: flex;
  justify-content: space-around;
}

.starthr,
.endhr {
  border: 3px solid #2a72de;
  padding: 10px 16px;
  font-size: 25px;
  color: #2a72de;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.days {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3%;
}

.days > button {
  border: 3px solid #2a72de;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  color: #2a72de;
  font-size: 25px;
  padding: 13px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .starthr,
  .endhr {
    font-size: 17px;
  }

  .schedule_container > h1 {
    font-size: 34px;
  }

  .schedule_container > p {
    font-size: 16px;
  }

  .text {
    font-size: 22px;
  }

  .days > button {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .body {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin: 2rem auto;
  }
}
